.footer {
    background-color: var(--color-accent);
    color: var(--color-base);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright,
.nytimes {
    font-size: 0.75rem;
}

.nytimes::after {
    background-color: var(--color-base);
}

.links {
    display: flex;
    align-items: center;
    gap: 1em;
}

.link {

}

.link svg {
    width: 1.8em;
}

@media screen and (max-width: 800px) {
    .footer {
        padding: 5vw;
    }

    .copyright,
    .nytimes {
        font-size: 2.5vw;
    }

    .links {
        gap: 2.5vw;
    }

    .link svg {
        width: 4vw;
    }
}

@media screen and (max-width: 520px) {
    .copyright,
    .nytimes {
        font-size: 2.7vw;
    }

    .links {
        gap: 2.7vw;
    }

    .link svg {
        width: 4.5vw;
    }
}