.container {
    padding: 2rem 2rem 5rem;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.total {

}

.input {
    border-radius: 0;
    outline: none;
    width: 10.5em;
    padding: 0.2em 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--color-accent);
    background-color: transparent;
    color: var(--color-accent)
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.item {
    font-size: 1.25rem;
    cursor: pointer;
    border: 1px solid var(--color-accent);
    margin-top: -1px;
    margin-right: -1px;
    line-height: 1;
    transition: background-color .2s ease-in-out;
}

.item>a {
    display: block;
    padding: 1.5em;
}

.item:hover {
    background-color: var(--color-accent);
    color: var(--color-base);
}

.itemTitle {

}

.itemDate {
    color: var(--color-secondary);
    font-weight: 300;
}

.itemUpdated {
    font-weight: 300;
    color: var(--color-secondary);
}

.itemUpdated span {
    font-weight: 400;
}

@media screen and (max-width: 800px) {
    .container {
        padding: 5vw;
    }

    .total,
    .input {
        font-size: 2.5vw;
    }

    .item {
        font-size: 2.5vw;
    }

    .item>a {
        padding: 1.2em;
    }
}

@media screen and (max-width: 520px) {
    .total,
    .item,
    .input {
        font-size: 2.7vw;
    }
}